body{
    background: linear-gradient(90deg, #666161 0%, #d1d1d1 100%);
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Manrope';
}


ul{
    list-style: none;
    
}

.foto{
    border-radius: 15%;
    width: 200px;
    height: 270px;
    border: 1px solid rgb(0, 0, 0);

}

h2{
    font-size: large;
}

h3{
    font-size: medium;
}